<!DOCTYPE html>
<html>
<head>
<title>Noter</title>
<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
</head>
<body>
<header>
  <div class="container">
    <h1 class="logo"><a class="head" href="{{ url_for('home') }}" >Noter</a></h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('notes') }}">Notes</a></li>
	<li><a href="{{ url_for('about') }}">About</a></li>        
	<li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
    </nav></strong>
  </div>
</header>
<script src="{{ url_for('static', filename='scripts/script1.js') }}">
</script>
<div class="rpane">
<p><b>Your Notes</b></p>
{% for item in Note.query.filter_by(uid = session['uid']).order_by(Note.lastUpdated.desc()) %}
	{% set mystr='f('+item.nid|string + ')' %}
	{% set str = item.nid|string + ','+ session['uid']|string %}
	{% set delf='g('+ str +')'  %}
	<div style="margin:auto;" id = {{ str }} class="note" onClick = {{ mystr }} >        
		{{ item.title }}
		<div style="display:none;" id={{  item.nid|string }} style="padding-right:3%;">	
			{{ item.body }}
		<button onClick={{ delf }}>Edit</a>
		<button onClick={{ delf }}>Delete</a>
		</div>
	</div>
    {% endfor %}
</div>
<div class="container">
<button type="button" onclick="add_field()" class="btn-custom">
+ Note
</button>
<div id="field">
<form action="/save" method="post"> 
	Add title:<br>
	<input type="text" name="ntitle" size="20"><br>
	Add body:<br>
	<textarea rows="6" cols="70" name="nbody"></textarea><br>
<input type="submit" value="Save">
</form>
</div>
</div>
</body>
</html>
